@model DekanatFPM.Models.Subject

@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>

@Html.ActionLink("Внести відомість: ", "AddStatement", new { subjectID = Model.SubjectID })

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlCourseWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlCourseWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlIndividual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlIndividual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
